<%= form_for @user do |f| %>
  <%= f.collection_check_boxes :car_ids, Car.all, :to_param, :name %>
  <div>
    <%= f.collection_radio_buttons :car_id, Car.all, :to_param, :name, { checked: @user.car.to_param } %>
  </div>
  <div>
    <%= f.collection_select :car_id, Car.all, :to_param, :name, { selected: @user.car.to_param } %>
  </div>
  <%= f.submit %>
<% end %>